scripts/*.xlsx
scripts/*.csv
scripts/chromedriver
scripts/.DS_Store

ML-models/*.txt
ML-models/*.xlsx
ML-models/*.csv

ML-models/classification/__pycache__/
ML-models/sentiment/__pycache__/


chromedriver
.idea
